<%= render partial: 'map' %>

<table class="table table-bordered js-locations-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coordinates</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= points_coordinates(location) %></td>
      <td>
      <%= link_to 'Show', location_path(location), class: 'btn btn-success' %>
      <%= link_to 'Edit', edit_location_path(location), class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
